.tablink:hover {
    background-color: #777;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}


.tabcontent {
    padding: 70px 20px;
    height: 100%;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}